@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}
body {
    min-height: 100vh;
    background-image: url(bilder/cuttingboard.jpg);
    background-size: cover;
}    

#title {
    text-align: center;
    font-size: 2rem;
    color: #23b190;
    padding: 15px;
    font-variant-caps: all-petite-caps;
}
.box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    width: 100%;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Fira Sans", sans-serif;}
.box div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #333;
    border-radius: 10px;
}
#box1 {
    background-color: red;
}
#box2 {
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: rgb(102, 195, 65);
    font-size: 1rem;
}
#funfact{
    background-color: orange;
    text-align: center;
}
#tilspill{
    background-color: cyan;
}
a {
    text-decoration: none;
    color: #333;
}

@media (width < 768px) {
    .box {
        display: flex;
        flex-direction: column;
    }
    #box2 {
        font-size: 60%;
    }
}

